body {
  width: 100%;
  height: 100%;
  margin: 0;
}
figure{
  text-align: center;
}
h1{text-align: center;}
a{
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: darkgreen;
}
<figcaption{
  text-align: center;
  font-size: small;
}
