header{
  text-align: center;
}
body{border: darkgray;}
nav a{background-color: gray;}
#featured-property{
  text-align: center;
}
#featured-property p{
  width: 800px;
  text-align: left;
  font-size: small;
  padding-left: 200px;
}
#details div{
  float: left;
  text-align: center;
  width: 25%;
  background-color: red;
}